
.navigation-container {
    background-color: #f8f9fa; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.navbar {
    display: flex;
    justify-content: center; 
}


.nav-list {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
}


.nav-item {
    margin: 0 15px; 
}


.nav-link {
    text-decoration: none; 
    color: #007bff; 
    font-weight: 600; 
    padding: 10px; 
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s; 
}


.nav-link:hover {
    background-color: #007bff; 
    color: white; 
}


.nav-link.router-link-active {
    background-color: #0056b3; 
    color: white; 
}



.modal {
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


.modal-content {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    position: relative; 
    width: 300px; 
}


.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px; 
    cursor: pointer; 
}